@font-face {
  font-family: 'Helvetica-Regular';
  src: url('../fonts/Helvetica-Regular.eot');
  src: url('../fonts/Helvetica-Regular.woff2') format('woff2'),
       url('../fonts/Helvetica-Regular.woff') format('woff'),
       url('../fonts/Helvetica-Regular.ttf') format('truetype'),
       url('../fonts/Helvetica-Regular.svg#Akrobat-Regular') format('svg'),
       url('../fonts/Helvetica-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
